// Variables
@import 'variables';
@import "bootstrap/scss/bootstrap";
@import "bootstrap/dist/css/bootstrap.min.css";

// Bootstrap
@import '~admin-lte/build/scss/adminlte';
@import "datatables.net-bs4";

body{
    font-family: "Source Sans Pro"
    ,-apple-system,BlinkMacSystemFont,
    "Segoe UI",Roboto,"Helvetica Neue",
    Arial,sans-serif,"Apple Color Emoji",
    "Segoe UI Emoji","Segoe UI Symbol",
    "Hanuman",'Khmer OS','Moul';
}

th,h1{
    font-family: 'Moul', serif;
    font-size: small;
}
